# env files
*.env
!*.example.env

# configs
config/*.yaml
!config/*.example.*

# coverage
out/*.out

# executables
*.bin

# air logs
./tmp

# templ autogen
*_templ.go

# taiwind autogen
internal/view/static/css/tailwind.css

# traefik configs
!config/traefik.yaml
!config/dynamic.yaml